@model Market.Domain.ViewModels.Order.OrderViewModel
@* data-ajax="true" data-ajax-url="/Order/SaveOrder"
					  data-ajax-success="alert('успешно')" data-ajax-complete="alert('комплит')" data-ajax-error="alert('Error')"*@
<div class="container">
	<div class="row">
		<div>
			<h1>Оформление заказа</h1>
		</div>
		<div class="col-6">
			<div class="mb-4">
				<form method="post" id="FormOrder"
					  class="row g-3"
					  enctype="multipart/form-data">
					<div class="mb-2">
						<label class="form-label">Имя</label>
						<input asp-for="FirstName" class="form-control" placeholder="Введите имя" />
						<span asp-validation-for="FirstName" class="text-danger" />
					</div>
					<div class="mb-2">
						<label class="form-label">Фамилия</label>
						<input asp-for="LastName" class="form-control" placeholder="Введите фамилию" />
						<span asp-validation-for="LastName" class="text-danger" />
					</div>
					<div class="mb-2">
						<label class="form-label">Адресс доставки</label>
						<input asp-for="Address" class="form-control" placeholder="Введите адресс" />
						<span asp-validation-for="Address" class="text-danger" />
					</div>
					<div class="mb-2">
						<label class="form-label">Электронная почта</label>
						<input asp-for="Email" class="form-control" placeholder="Введите эл.почту" />
						<span asp-validation-for="Email" class="text-danger" />
					</div>

					<input asp-for="Total" type="hidden" />

					@for (int i = 0; i < Model.OrderItems.Count(); i++)
					{
						<input asp-for="OrderItems[i].OrderId" type="hidden" />
						<input asp-for="OrderItems[i].ProductId" type="hidden" />
						<input asp-for="OrderItems[i].Product.CategoryId" type="hidden" />
						<input asp-for="OrderItems[i].Product.Description" type="hidden" />
						<input asp-for="OrderItems[i].Product.CategoryId" type="hidden" />
						<input asp-for="OrderItems[i].Product.ImgPath" type="hidden" />
						<input asp-for="OrderItems[i].Product.Name" type="hidden" />
						<input asp-for="OrderItems[i].Product.Price" type="hidden" />
						<input asp-for="OrderItems[i].Quantity" type="hidden" />
						<input asp-for="OrderItems[i].Price" type="hidden" />
					}

				</form>
			</div>
			<div class="mb-3">
				<h4>Товары</h4>
			</div>
			<div>
				<div class="row">
					@foreach (var item in Model.OrderItems)
					{
						<a asp-action="GetProduct" asp-controller="Product" asp-route-id="@item.ProductId"
					   class="text-decoration-none text-dark">
							<div class="card mb-2">
								<div class="row">
									<div class="col-md-3">
										<img src=@item.Product.ImgPath class="img-fluid rounded-start" alt="..."
										 style="height:4rem; width:100%; object-fit: cover;">

										<div class="card-img-overlay p-1">
											<span class="badge rounded-pill bg-light text-dark">
												@((item.Quantity * item.Price).ToString("0.#####")) ₽
											</span>
										</div>
									</div>
									<div class="col-md-9">
										<div class="card-body">
											<p class="card-text">@item.Product.Name</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					}

				</div>
			</div>
		</div>
		<div class="col-4" id="SmallOrder">
			<partial name="_SmallOrder" model="@Model" />
		</div>
	</div>
</div>



<!-- Модальное окно в случае успешного создания заказа -->
<div class="modal fade" id="SuccessModal" 
	 data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title  mx-auto" id="exampleModalLabel">Заказ создан!</h5>
				@*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>*@
			</div>
			@*<div class="modal-body">
				<h4>Заказ создан!</h4>
			</div>*@
			<div class="modal-footer">
				<button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" onclick="RedirectToProducts()">Продолжить покупки</button>
@*				<button type="button" class="btn btn-primary">Сохранить изменения</button>*@
			</div>
		</div>
	</div>
</div>



@section Scripts{

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


	<script>
		function PostFormOrder() {
			$(function () {
				$('#FormOrder').trigger('submit');
			});
		}

		$('#FormOrder').submit(function (event) {
			event.preventDefault();
			console.log("Form has submited");
			var form = $(this);
			$.ajax({
				url: '/Order/SaveOrder',
				type: 'POST',
				data: form.serialize(),
				success: function (result) {
					$('#SuccessModal').modal('toggle');
				}
			});
		});

		function RedirectToProducts() {
			$.ajax({
				url: '/Product/GetProducts',
				type: 'Get',
				success: function (result) {

					window.location.href = '/Product/GetProducts';
					//$('#SuccessModal').modal('toggle');
				}
			});
		}
																							
	</script>
}
