@{

	var Categories = (IEnumerable<Market.Domain.Entity.Category>)ViewBag.NameDropDownList;

	<div class="dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
		role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Категории
		</a>

		<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
		@if ((Categories != null) && (Categories.Count() > 0))
			{
			@foreach (var category in Categories)
			{
				<li>
					<a class="dropdown-item"
			   asp-controller="Product" asp-action="GetCategoryProducts" asp-route-id="@category.Id">@category.Name</a>
				</li>
			}	
			}
			
		</ul>
	</div>
}

@**href="@Url.Action("GetCategories","Category", new {id = category.Id})*/*@

