@model Market.Domain.ViewModels.Cart.CartViewModel

<div class="card border-0 shadow-sm p-3 mb-5 rounded ">
	<div class="card-body ">
		<div class="mb-3">
			<form asp-controller="Order" asp-action="SaveOrder" asp-route-id="0" method="get" class="w-100">
				<input type="submit" class="btn btn-success btn-lg w-100 fw-bold" style="font-size:1rem;" value="Оформить заказ" />
			</form>
			<p class="card-text"><small class="text-muted">Доступные способы и время доставки можно выбрать при оформлении заказа</small></p>
		</div>
		<div>
			<div class="row">
				<div class="col-sm-6">
					<p class="text-start">Товары</p>
				</div>
				<div class="col-sm-6">
					<p class="text-end">@Model.CartItemsCount шт</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm-6">
					<h5 class="text-start">Общая стоимость</h5>
				</div>
				<div class="col-sm-6">
					<h5 class="text-end">@Model.CartTotalSum.ToString("0.#####") ₽</h5>
				</div>
			</div>
		</div>
	</div>
</div>








