@model IEnumerable<Market.Domain.Entity.CartItem>

<div class="mb-3">
	<h3>Корзина</h3>
</div>


@{
	if (Model.Count() > 0)
	{
		foreach (var cart in Model)
		{
			var product = cart.Product;
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-3">
						<img src=@product.ImgPath class="img-fluid rounded-start" alt="..."
				 	style="height:18rem; width:100%; object-fit: cover;">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">@product.Name</h5>
							<p class="card-text">@product.Price ₽</p>

							<p class="card-text">@product.Description</p>

							<a asp-action="DeleteCartItem" asp-route-id="@product.Id" class="btn btn-outline-primary">Удалить</a>
						</div>
					</div>
				</div>
			</div>
		}





	}

	else
	{
		<div class="mb-3">
			<h5>Корзина пуста</h5>
		</div>
	}
}



