@model Market.Domain.ViewModels.Cart.CartViewModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";

	var cartItemList = Model.CartItems;
}

<div class="mb-3">
	<h3>Корзина</h3>
</div>

<div class="row">
	<div class="col-8">
		<div id="CartItemList">
			<partial name="_CartItemList" model="Model.CartItems" />
		</div>
	</div>
	<div class="col-4" id="TotalSumPartial">
		<partial name="_CartTotalSum" model="@Model" />
	</div>
</div>



@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

	<script>
		function deleteItem(form) {
			$(form).parents('li').remove();
		}

		$(document).on('change', '.select_send_ajax', function () {
			$(this).parents('form').submit();
			console.log('изменение кол-ва товара');
		});

		function getTotalSumPartial(form) {
			$.ajax(
				{
					url: 'GetCartTotalPartial',
					type: 'GET',

					success: function (partialView) {
						$('#TotalSumPartial').html(partialView);
						$('#TotalSumPartial').show();
					}
				});
		}
	</script>
}