@model Market.Domain.ViewModels.Account.LoginViewModel

<div class="row justify-content-center">
	<div class="col-4">
		<form method="post" asp-controller="Account" asp-action="Login">
			<div>
				<h4 class="text-center">Войдите, пожалуйста</h4>
			</div>
			<div class="mb-3">
				<label for="Name" class="form-label">Логин</label>
				<input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<span asp-validation-for="Name" class="text-danger"></span>
				@*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
			</div>
			<div class="mb-3">
				<label for="Password" class="form-label">Пароль</label>
				<input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="text-center">
				<button asp-action="Login" asp-controller="Account" type="submit" class="btn btn-primary">Войти</button>
			</div>
		</form>
	</div>
</div>



