@model Market.Domain.ViewModels.Account.LoginViewModel


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Войдите, пожалуйста</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" asp-controller="Account" asp-action="Login">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Логин</label>
						<input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						@*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Пароль</label>
						<input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
					</div>
				@*	<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Запомнить</label>
					</div>*@
					<button asp-action="Login" asp-controller="Account" type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button asp-action="Login" asp-controller="Account" type="button" class="btn btn-primary">Войти</button>
			</div>
		</div>
	</div>
</div>



