@model Market.Domain.ViewModels.Product.ProductViewModel

@{
	//для выпадающего списка категорий
	var selectCategories = new SelectList(ViewBag.Categories, "Id", "Name");

}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-6">
			<div style="text-align:center">
				<h1>Изменить продукт</h1>
			</div>
			<form asp-controller="Product" asp-action="SaveProduct" method="post" class="row g-3"
				  enctype="multipart/form-data">
				@*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
				<div class="mb-2">
					<label class="form-label">Название</label>
					<input asp-for="Name" class="form-control" placeholder="Введите название" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
				<div class="mb-2">
					<label class="form-label">Стоимость</label>
					<input asp-for="Price" class="form-control" placeholder="Введите цену" />
					<span asp-validation-for="Price" class="text-danger" />
				</div>
				<div class="mb-2">
					<label class="form-label">Описание</label>
					<input asp-for="Description" class="form-control" placeholder="Введите описание" />
					<span asp-validation-for="Description" class="text-danger" />
				</div>
				<div class="mb-2">
					<label class="form-label">Категория</label>
					<select asp-for="CategoryId" asp-items="selectCategories" class="form-select"></select>
				</div>
				<div class="mb-2">
					<label for="formFile" class="form-label">Добавьте изображение</label>
					<div>
						<img src="ImgPath" alt="Product img" asp-append-version="true"
							 style="height:10rem; width:40%; object-fit: cover;" />
					</div>
					<input asp-for="UploadedImage" value="@Model.UploadedImage" class="form-control" type="file">

				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Сохранить</button>
				</div>
			</form>
		</div>
	</div>
</div>


