@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="row g-3">
	<div class="mb-3">
		<label for="formGroupExampleInput" class="form-label">Название</label>
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Введите название">
	</div>
	<div class="mb-3">
		<label for="formGroupExampleInput2" class="form-label">Описание</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Введите описание">
	</div>
	<div class="mb-3">
		<label for="formGroupExampleInput2" class="form-label">Цена</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Введите стоимость">
	</div>
	<div class="mb-3">
		<label for="formGroupExampleInput2" class="form-label">Категория</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Выберите категорию">
	</div>
	<div class="col-12">
		<button type="submit" class="btn btn-primary">Сохранить</button>
	</div>
</form>